* {
    box-sizing: border-box;
}

body {
    background-color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
}

.page_head,
.page_description {
    text-align: center;
}

.page_head {
    font-size: 40px;
    margin: 20px 0 0;
}

.page_description {
    font-size: 22px;
    margin: 5px 0 40px;
}